@model IEnumerable<CoursesAssignment.Models.Slide>

@{
    ViewBag.Title = "Create Slide";

}

<div class="container" style="margin-top: 2rem;">
    <form action="slideForm" method="post">
        <div class="form-group">
            <label for="slideTitle">Slide Text:</label>
            <textarea class="form-control" id="slideTitle" name="txtSlide" placeholder="Please enter your text here!" rows="8"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>

<div class="container bg-success text-white" @ViewBag.MessageSuccess style="margin-top: 2rem;">
    <p>Your slide was added to the DB with id @ViewBag.Id</p>
</div>

<div class="container bg-danger text-white" @ViewBag.MessageFail style="margin-top: 2rem;">
    <p>Error, Please try again!</p>
</div>

<div class="container" style="margin-top: 2rem;">
        @foreach (var slide in Model) 
        {
            <div class="row">
                <div class="col-md-2">@slide.Id</div>
                <div class="col-md-10">@slide.Text</div>
            </div>
        }
</div>
